<%- include('template/header') %>


<h1><%= listaMascotas %></h1>


    <div class="col-6 offset-6 p-5">

      <a type="button" class="btn btn-outline-success" href="/mascotas/crear">Crear Registro</a>

    </div>
    <table class="table text-center table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
         
        <% if (arrayMascotas.length > 0) { %>
            <% arrayMascotas.forEach(mascota => { %>
                <tr>
                    <th scope="row"><%= mascota.id %></th>
                    <td><%= mascota.nombre %> </td>
                    <td><%= mascota.descripcion %></td>
                    <td>  <a
                      class="btn btn-warning btn-sm"
                      href="mascotas/<%= mascota.id %>"
                    >
                      Editar
                    </a></td>
                  </tr>
            <% }) %>
        <% } %>
        </tbody>
      </table>
  
<%- include('template/footer') %>


